body {
  background: black;
}

.pokedexContainer {
  background: #dc0a2d;
  height: 550px;
  width: 400px;
  margin: 30px auto;
  border-radius: 40px 10px 10px 40px;
  overflow: hidden;
}

/* .topButtons:before {
  content: "";
  width: 32%;
  top: 30px;
  border-width: 0 0px 81px;
  border-style: solid;
  border-color: white transparent;
  position: absolute;
  margin-left: 22%;
}

.topButtons {
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 50px 0;
} */

.topContainer {
  background: white;
  width: 100%;
  height: 70px;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 50%, 45% 50%, 35% 100%);
  padding: 20px;
  border-bottom: 7px solid black;
}

.bigBlueButtonBorder {
  background: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: solid 2px black;
  padding: 5px;
  display: inline-block;
}

.bigBlueButtonInnerCircle {
  background: radial-gradient(circle at 0px 0px, #28aafd, #196a9e);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.bigBlueButtonInnerCircle:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 0px 0px, rgba(255, 255, 255, 0.5), #a1dafe 70%);
    border-radius: 50%;
    opacity: 0.6;
    height: 50px;
    width: 50px;
    -webkit-filter: blur(5px);
    z-index: 2;
}

.bigBlueButtonInnerCircle:after {
  width: 50px;
  height: 15px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 0px 0px, white, white 14%, white 24%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-filter: blur(10px);
}

.smallRedButton {
  background: radial-gradient(circle at 0px 0px, #f56981, #9e061f);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  border: solid 2px black;
  display: inline-block;
  vertical-align: top;
}

.smallRedButton:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 0px 0px, rgba(255, 255, 255, 0.5), #f56981 70%);
    border-radius: 50%;
    opacity: 0.6;
    height: 10px;
    width: 10px;
    -webkit-filter: blur(5px);
    z-index: 2;
}

.smallRedButton:after {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 0px 0px, white, white 30%, #f4637c 60%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-filter: blur(2px);
}

.smallYellowButton {
  background: radial-gradient(circle at 0px 0px, #feef8d, #a28e0f);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border: solid 2px black;
  display: inline-block;
  vertical-align: top;
}

.smallYellowButton:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 0px 0px, rgba(255, 255, 255, 0.5), #feef8d 70%);
    border-radius: 50%;
    opacity: 0.6;
    height: 10px;
    width: 10px;
    -webkit-filter: blur(5px);
    z-index: 2;
}

.smallYellowButton:after {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 0px 0px, white, white 30%, #feef8d 60%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-filter: blur(2px);
}

.smallGreenButton {
  background: radial-gradient(circle at 0px 0px, #8dc395, #316c3a);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border: solid 2px black;
  display: inline-block;
  vertical-align: top;
}

.smallGreenButton:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 0px 0px, rgba(255, 255, 255, 0.5), #8dc395 70%);
    border-radius: 50%;
    opacity: 0.6;
    height: 10px;
    width: 10px;
    -webkit-filter: blur(5px);
    z-index: 2;
}

.smallGreenButton:after {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle at 0px 0px, white, white 30%, #8dc395 60%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-filter: blur(2px);
}

.pokedexScreenContainer {
  width: 80%;
  height: 30%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 55px;
}

.pokedexScreenBorder {
  background: #dedede;
  height: 100%;
  border-radius: 10px 10px 10px 50px;
  padding: 40px 30px;
  border: 2px solid black;
}

.pokedexScreenSmallRedButton1 {
  background: radial-gradient(circle at 0px 0px, #ff6881, #bd0323);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: solid 2px black;
  display: inline-block;
  margin-top: -25px;
  margin-left: 9%;
  position: absolute;
}

.pokedexScreenSmallRedButton2 {
  background: radial-gradient(circle at 0px 0px, #ff6881, #bd0323);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: solid 2px black;
  display: inline-block;
  margin-top: -25px;
  margin-left: 11%;
  position: absolute;
}

.pokedexScreenBigRedButton {
  background: radial-gradient(circle at 0px 0px, #ff6881, #bd0323);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: solid 2px black;
  display: inline-block;
  margin-top: 8px;
  position: absolute;
}

.pokedexScreen {
  background: #232323;
  border-radius: 5%;
  height: 100%;
  border: 2px solid black;
}

.pokedexScreenSpeaker {
  width: 15%;
  margin-top: 8px;
  margin-left: 85%;
}

.pokedexScreenLines {
  background: black;
  width: 100%;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 40%;
}

.bottomContainer {
  width: 85%;
  padding: 15px 30px;
  height: 22%;
}

.blackButton {
  width: 40px;
  height: 40px;
  background: radial-gradient(circle at 0px 0px, #00312b, #000);
  border-radius: 50%;
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-right: 20px;
}

.blackButton:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 22px 29px, #00312b, #00312b 50%);
  border-radius: 50%;
  opacity: 0.6;
  height: 35px;
  width: 34px;
  margin-left: 1px;
  margin-top: 1px;
}

.redButton {
  width: 11%;
  height: 5px;
  background: #f30029;
  border-radius: 34%;
  border: 2px solid black;
  /* margin-left: 16%; */
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.blueButton {
  width: 11%;
  height: 5px;
  background: #0d5075;
  border-radius: 34%;
  border: 2px solid black;
  /* margin-left: 18%; */
  display: inline-block;
  vertical-align: top;
}

.greenScreen {
  width: 28%;
  height: 60px;
  background: #51ae5f;
  border: 2px solid black;
  border-radius: 10%;
  margin-left: 16%;
  margin-top: -15px;
}

.dPad {
  width: 20%;
  height: 100px;
  float: right;
  background: white;
}
